$opacity-xl: 1;
$opacity-xs: 0;
$border-icon: 3px solid $accent-color-base;
$border-icon-transparent: 3px solid transparent;
$transition-time: 0.3s;

.filter {
  background-color: #f7fafd;
}
.filter-btn {
  text-align: center;
}
.filter-btn .btn-filter {
  margin: $space-xxxs;
  position: relative;
  color: $accent-color-base;
  font-size: $font-size-s;
  font-family: $font-family-sans;
  line-height: 1;
  &::after {
    position: absolute;
    border: $border-icon-transparent;
    right: -10px;
    transform: translateY(-50%);
    content: "";
  }
}
.filter-btn .btn-filter--hide::after {
  border-bottom: $border-icon;
  bottom: 0;
}
.filter-btn .btn-filter--show::after {
  border-top: $border-icon;
  bottom: -2px;
}

.filter-content {
  height: 0;
  transition: $transition-time;
  opacity: $opacity-xs;
  visibility: hidden;
}
.filter-content.show {
  height: 100%;
  opacity: $opacity-xl;
  visibility: visible;
}
