$btn-padding-horizontal: 5px;

.btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: $btn-font-size-m;
    transition: all .2s ease-in-out;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $btn-bg;
}

.active {
    background-color: $btn-grey-color;
}

.btn:disabled {
    opacity: $opacity-m;
}

.btn-primary {
    background-color: $btn-primary-color; 
    color: $white-color;
    border-radius: $btn-border-radius-s;
}

.btn-bordered {
    background-color: $btn-bg;
    border: 1px solid $primary-color;
    color: $btn-primary-color;
    border-radius: $btn-border-radius-s;
}

.btn-simple {
    background-color: $btn-bg;
}

.btn-small {
    font-size: $btn-font-size-m;
    padding: $btn-padding-s;
    min-width: $btn-min-width-s;
}
.btn-middle {
    font-size: $btn-font-size-m;
    padding: $btn-padding-m;
    min-width: $btn-min-width-m;
}

.btn-large {
    font-size: $btn-font-size-l;
    padding: $btn-padding-m;
    min-width: $btn-min-width-l;
}

.btn-add-column {
    background-color: $btn-primary-color; 
    width: $btn-size-base;
    height: $btn-size-base;
}

.btn-default {
    font-size: $btn-font-size-m;
    padding: 0;
}

.btn--with-icon {
    display: flex;
    align-items: center;
    background-color: $btn-bg;
    font-size: $btn-font-size-m;
    > svg {
        padding-left: $btn-padding-horizontal;
    }
}

.btn-color-primary {
    color: $btn-primary-color;
}

.btn-color-accent {
    color: $btn-accent-color;
}

.btn-underline {
    text-decoration: underline;
}