.authorization {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.authorization-photo img {
    border-radius: $border-radius-circle;
    width: 22px;
    height: 22px;
}
.authorization-name {
    padding-left: $space-s;
}
.authorization-name span {
    display: block;
    color: $accent-color-lightest;
    font-size: $font-size-xs;
}