$border-width-l:                                5px;
$menu-padding-horizontal:                       $space-xxs;

.menu {
    height: auto;
    background-color: $accent-color-darkest;   
    display: flex;
}
.menu-link {
    display: flex;
    align-items: center;
    padding: $space-m - 1px;
    color: $menu-color;
    font-size: $menu-size;
    height: 100%;
    border-top: $border-width-l solid transparent;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .2s ease;
    &:hover {
        background-color: darkest($accent-color-darkest, 10% );
        border-top-color: $primary-color;
        box-sizing: border-box;
    }
}
.menu-link svg {
    padding-right: $menu-padding-horizontal;
}
.menu-link--active {
    background-color: darkest($accent-color-darkest, 10% );
    border-top: $border-width-l solid $primary-color;
    height: 100%;
    box-sizing: border-box;
    
}