/*----------  COLORS  ----------*/

$primary-color:                         #2D8EEF;

$accent-color-darkest:                  #1F2D3D;
$accent-color-dark:                     #2C4056;
$accent-color-base:                     #758697;
$accent-color-light:                    #EDF0F7;
$accent-color-lightest:                 #ECF0F5;

$grey-color-darkest:                    #B8C1C8;
$grey-color-dark:                       #D3D9D7;
$grey-color-base:                       #DDE2EB;
$grey-color-light:                      #E7ECF3;
$grey-color-lightest:                   #EDF1F2;

$white-color:                           #FFF;

$graph-green:                           #13CE66;
$graph-green-light:                     #8BC34A;
$graph-grey-dark:                       #476E89;
$graph-purple:                          #5036CC;
$graph-blue:                            #5677FC;
$graph-blue-light:                      #33C2F9;
$graph-blue-dark:                       #3255D5;

$graph-orange:                          #F5A000;
$graph-orange-light:                    #FFC107;
$graph-orange-dark:                     #FF7043;
$graph-red:                             #F44336;




/*----------  STYLING DEFAULTS  ----------*/
$header-fixed-height:                           55px;

$space-xxxxs:                                   4px;
$space-xxxs:                                    5px;
$space-xxs:                                     6px;
$space-xs:                                      8px;
$space-s:                                       10px;
$space-m:                                       16px;
$space-l:                                       18px;
$space-xl:                                      24px;
$space-xxl:                                     30px;
$space-xxxl:                                    32px;
$space-xxxxl:                                   54px;

// Line height
$line-height-base:                              17px;
$line-height-large:                             24px;

$box-shadow-base:                               0 1px 2px 0 rgba(0,0,0,0.05);
$box-shadow-dark:                               1px 2px 3px 0 rgba(0,0,0,0.1);
$box-shadow-darkest:                            0 4px 0 rgba(0,0,0,0.2);

// Borders
$border-color:                                  $grey-color-base;
$border-color-light:                            $grey-color-light;
$border-color-lightes:                          $grey-color-lightest;
$border-color-dark:                             $grey-color-dark;
$border-width-s:                                1px;
$border-width-m:                                2px;
$border-base:                                   $border-width-s solid $grey-color-base;
$border-light:                                  $border-width-s solid $border-color-light;
$border-lightes:                                $border-width-s solid $grey-color-lightest;
$border-dark:                                   $border-width-s solid $border-color-dark;

$border-radius-base:                            2px;
$border-radius-s:                               1px;
$border-radius-m:                               4px;
$border-radius-l:                               6px;
$border-radius-xxl:                             25px;
$border-radius-circle:                          50%;

/*----------  TYPOGRAPHY  ----------*/

// Font family
$font-family-sans:                              "Open Sans", sans-serif;

// Font size
$font-size-xxs:                                 8px;
$font-size-xs:                                  10px;
$font-size-s:                                   12px;
$font-size-m:                                   14px;
$font-size-l:                                   18px;
$font-size-xl:                                  20px;
$font-size-xxl:                                 34px;


// Text and Styling Colors
$text-color-base:                               $accent-color-dark;
$text-color-primary:                            $primary-color;
$text-color-secondary:                          $accent-color-base;
$text-color-inverse:                            $white-color;
$text-color:                                    $grey-color-darkest; 

$link-color:                                    $primary-color;
$link-color-active:                             $accent-color-dark;
$link-underline:                                none;

// Heading
$heading-color:                                 $accent-color-dark;
$heading-size-base:                             $font-size-l;
$heading-size-m:                                $font-size-xl;
$heading-font-weight:                           700;
$heading-line-height:                           $line-height-large;

//Subheading
$subheading-size:                               $font-size-s;
$subheading-line-height:                        $line-height-base;
$subheading-color:                              $grey-color-darkest;


// Opacity
$opacity-s:                                     .1;
$opacity-m:                                     .5;
$opacity-l:                                     .8;


/*----------  FORMS & INPUTS -----------*/
$form-border:                                   $border-dark;
$form-border-radius:                            $border-radius-l;
$form-bg:                                       $white-color;
$form-padding:                                  $space-xxl;

// Input
$input-border:                                  $border-base;
$input-border-color-focus:                      $primary-color;
$input-font-size:                               $font-size-s;
$input-color-base:                              $accent-color-base;
$input-color-dark:                              $accent-color-dark;
$input-color-placeholder:                       $grey-color-darkest;
$input-line-height:                             $line-height-base;

$input-padding-vertical-s:                      $space-xs;
$input-padding-horizontal-s:                    $space-s;
$input-padding-horizontal-l:                    $space-xxxl;

$label-font-size:                               $font-size-s;
$label-color:                                   $accent-color-dark;
$label-font-weight:                             700;
$label-space-vertical:                          $space-xxxs;
$label-space-horizontal:                        $space-s;


$checkbox-width:                                16px;
$checkbox-space-right:                          $space-s;

$radiobox-width:                                12px;

//checkbox group - .checkbox-group
$checkbox-group-space-vertical-s:               $space-xxs;
$checkbox-group-space-vertical-m:               $space-xs;
$checkbox-group-space-vertical-l:               $space-s;

//radiobox group - .radiobox-group
$radiobox-group-space-vertical-s:               $space-xxs;
$radiobox-group-space-vertical-m:               $space-xs;
$radiobox-group-space-vertical-l:               $space-s;

//Input group - .input-group
$input-group-space-horizontal:                  $space-xxl;
$input-group-space-vertical-s:                  $space-xxs;
$input-group-space-vertical-m:                  $space-s;
$input-group-space-vertical-l:                  $space-m;



/*---------- COMPONENTS -----------*/

// Menu
$menu-size:                                     13px; //13px
$menu-line-height:                              18px;
$menu-color:                                    $white-color;
$menu-padding:                                  $space-m ($space-m - 2px) $space-m $space-xxxl;


// Button
$btn-primary-color:                             $primary-color;
$btn-grey-color:                                $grey-color-darkest;
$btn-accent-color:                              $accent-color-base;
$btn-light-color:                               $white-color;
$btn-bg:                                        transparent;

$btn-font-size-s:                               $font-size-xs;
$btn-font-size-m:                               $font-size-s;
$btn-font-size-l:                               $font-size-m;
$btn-border-width:                              $border-width-s;
$btn-border-radius-s:                           $border-radius-base;
$btn-border-radius-m:                           $border-radius-m;

$btn-min-width-s:                               64px;
$btn-min-width-m:                               92px;
$btn-min-width-l:                               100px;

$btn-padding-s:                                 $space-xxxxs $space-xs;
$btn-padding-m:                                 $space-xs $space-m;

$btn-size-base:                                 30px;

//Button group - .btn-group
$btn-group-space-horizontal-s:                  $space-m - 1px;
$btn-group-space-horizontal-m:                  $space-xl + 1px;

// Calendar

$calendar-font-size-s:                          $font-size-xs;
$calendar-font-size-m:                          $font-size-s;
$calendar-font-size-l:                          $font-size-xxl;

$calendar-border:                               $border-base;

$calendar-color-heading:                        $accent-color-base;
$calendar-color:                                $accent-color-dark;

$calendar-bg:                                   $accent-color-light;
$calendar-bg-light:                             $white-color;

$calendar-padding-s:                            $space-xs; 
$calendar-padding-l:                            $space-xl $space-xxxxl;
$calendar-cell-min-width:                       156px;


// Table
$table-bg:                                      $white-color;
$table-bg-dark:                                 $accent-color-light;
$table-bg-light:                               #F2F6FA;

$table-size-s:                                  $font-size-xs;
$table-size-m:                                  11px;
$table-size-l:                                  $font-size-s;

$table-color-base:                              $accent-color-dark;
$table-color-heading:                           $accent-color-base;

$table-border-base:                             $border-base;
$table-border-dark:                             $border-dark;

$table-cell-space-horizontal-s:                 $space-s;
$table-cell-space-horizontal-m:                 $space-l;
$table-cell-space-horizontal-l:                 $space-xxl;
$table-cell-space-vertical-l:                   $space-s;
$table-cell-space-vertical-m:                   $space-xxs;
$table-cell-space-vertical-s:                   $space-xxxxs;

$table-box-shadow:                              $box-shadow-base;


/*-----------LAYOUT-----------*/

$container-width:                               1140px;
